<div class="container mt-5 mb-5" *ngIf="searchResultItem">
    <div class="d-flex justify-content-center row gx-5">
        <div class="col-md-2 border-right">
            <div class="card">
                <h5 class="card-header">Price range</h5>
                <div class="card-body">
                    <form [formGroup]="searchFilterForm">
                        <div class="input-group">
                            <input type="number" aria-label="minimum price" formControlName="minValue"
                                class="form-control">
                            <input type="number" aria-label="maximum price" formControlName="maxValue"
                                class="form-control">
                            <button (click)="valueRangeValidation()" class="input-group-text">Go</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <h4>Showing results of {{searchResultCount}} items</h4>
            <div *ngFor="let item of searchResultItem;" class="row p-2 mb-4 bg-white border rounded">
                <div class="col-md-3 mt-1">
                    <img class="img-fluid img-responsive rounded product-image" [src]="productImage(item.galleryURL)">
                </div>
                <div class="col-md-6 mt-1">
                    <h5>{{item.title[0]}}</h5>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light
                            weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For
                            men</span><span class="dot"></span><span>Casual<br></span></div>
                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration in some form, by injected humour, or
                        randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">${{ getPrice(item.sellingStatus) }}</h4>
                    </div>
                    <!-- <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm"
                            type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2"
                            type="button">Add to wishlist</button></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Overlay and spinner -->
<div id="overlay" *ngIf="loading">
    <div class="w-100 mx-auto d-flex justify-content-center align-items-center">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>
</div>